In [1]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = 999
pd.options.display.max_rows = 999

In [2]:
sort_cols = ['SK_ID_CURR', 'SK_ID_PREV', 'MONTHS_BALANCE']

##### Function to find missing values and categorical encoding

In [3]:
## Missing values###########
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns
###############################

In [4]:
#Encoding categorical variables
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
def encoding_cat_vars(df,le):
    le_count = 0
    one_hot_count = 0
    # Iterate through the columns
    for col in df:
        if df[col].dtype == 'object' or df[col].dtype =='bool' :
            # If 2 or fewer unique categories
            if len(list(df[col].unique())) <= 2:
                # Train on the training data
                le.fit(df[col])
                # Transform both training and testing data
                df[col] = le.transform(df[col])    
                # Keep track of how many columns were label encoded
                le_count += 1
            else:
                one_hot_count +=1
    print ("no of columns label encoded : "+str(le_count))
    #One Hot encoding
    df = pd.get_dummies(df)
    print ("no of columns one hot encoded encoded : "+str(one_hot_count))
    return df

In [5]:
previous_application = pd.read_csv('previous_application.csv')

In [6]:
#Check for missing values
missing_values = missing_values_table(previous_application)
missing_values['column_name'] = missing_values.index
missing_values = missing_values.reset_index(drop = True)
missing_values

Your selected dataframe has 37 columns.
There are 16 columns that have missing values.

    Missing Values  % of Total Values                column_name
0          1664263               99.6      RATE_INTEREST_PRIMARY
1          1664263               99.6   RATE_INTEREST_PRIVILEGED
2           895844               53.6           AMT_DOWN_PAYMENT
3           895844               53.6          RATE_DOWN_PAYMENT
4           820405               49.1            NAME_TYPE_SUITE
5           673065               40.3         DAYS_FIRST_DRAWING
6           673065               40.3             DAYS_FIRST_DUE
7           673065               40.3  DAYS_LAST_DUE_1ST_VERSION
8           673065               40.3              DAYS_LAST_DUE
9           673065               40.3           DAYS_TERMINATION
10          673065               40.3  NFLAG_INSURED_ON_APPROVAL
11          385515               23.1            AMT_GOODS_PRICE
12          372235               22.3                AMT_ANNUITY
13          372230               22.3                CNT_PAYMENT
14             346                0.0        PRODUCT_COMBINATION
15               1                0.0                 AMT_CREDIT

In [7]:
previous_application =  previous_application.dropna(subset=['AMT_CREDIT'])

In [8]:
previous_application = previous_application.drop(['WEEKDAY_APPR_PROCESS_START'], axis=1)

##### Finding applications where amt_credit == 0

In [9]:
app_train = pd.read_csv('application_train.csv')[['SK_ID_CURR', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_INCOME_TOTAL', 'AMT_GOODS_PRICE', 'TARGET']]

In [10]:
app_train.shape

(307511, 6)

In [22]:
app_train.head()

,SK_ID_CURR,AMT_CREDIT,AMT_ANNUITY,AMT_INCOME_TOTAL,AMT_GOODS_PRICE,TARGET,AMT_CREDIT_binned,AMT_GOODS_PRICE_binned,AMT_ANNUITY-AMT_INCOME_TOTAL,AMT_ANNUITY-AMT_INCOME_TOTAL_binned
0,100002,406597.5,24700.5,202500.0,351000.0,1,"(365400.0, 445500.0]","(281070.0, 361260.0]",0.121978,"(0.113, 0.15]"
1,100003,1293502.5,35698.5,270000.0,1129500.0,0,"(1246500.0, 1326600.0]","(1082970.0, 1163160.0]",0.132217,"(0.113, 0.15]"
2,100004,135000.0,6750.0,67500.0,135000.0,0,"(125100.0, 205200.0]","(120690.0, 200880.0]",0.100000,"(0.0753, 0.113]"
3,100006,312682.5,29686.5,135000.0,297000.0,0,"(285300.0, 365400.0]","(281070.0, 361260.0]",0.219900,"(0.188, 0.225]"
4,100007,513000.0,21865.5,121500.0,513000.0,0,"(445500.0, 525600.0]","(441450.0, 521640.0]",0.179963,"(0.15, 0.188]"

In [ ]:
# inst = pd.read_csv('installments_payments.csv')

amt_app_0_ids is the ids in prev where AMT_APPLICATION==0

In [ ]:
# amt_app_0_ids = previous_application[(previous_application['AMT_CREDIT']==0) & ~(previous_application['NAME_CONTRACT_STATUS'].isin(['Canceled', 'Refused']))]['SK_ID_PREV'].unique()
# amt_app_0_contract_types = previous_application[previous_application['AMT_CREDIT']==0]['NAME_CONTRACT_TYPE'].unique()

In [ ]:
# credit_agg = credit.groupby(['SK_ID_PREV']).agg({'AMT_CREDIT_LIMIT_ACTUAL':'max', 'AMT_DRAWINGS_ATM_CURRENT':'max', 'AMT_DRAWINGS_POS_CURRENT':'max', 'AMT_TOTAL_RECEIVABLE':'max', 'AMT_RECIVABLE':'max'}).reset_index()

In [ ]:
# merged = pd.merge(previous_application[(previous_application['NAME_CONTRACT_TYPE']=='Revolving loans')][['SK_ID_PREV', 'AMT_CREDIT']], credit_agg,on=['SK_ID_PREV'])

In [ ]:
# previous_application = pd.merge(previous_application,app_train,how='left',on=['SK_ID_CURR'])

#### FInd rate of defaults

* need to add default rate based only on app_train
* fillna(0) in DEFAULT_RATE_GOODS

In [ ]:
# app_train['binned'] = pd.cut(app_train['AMT_CREDIT'], bins)

In [ ]:
# feat_type

* finding default rate of numerical features by binning

In [11]:
def default_rate_num(feat, previous_application):
    if '-' in feat:
        f0,f1 = feat.split('-')
        app_train[feat] = app_train[f0]/app_train[f1]
        previous_application = pd.merge(previous_application,app_train[['SK_ID_CURR', f1]],on=['SK_ID_CURR'],how='left')
        previous_application[feat] = previous_application[f0]/previous_application[f1]
    def_feat_name = 'PREV_' + feat +'_' + 'DEFAULT'
    crct_feat_name = 'PREV_' + feat +'_' +'CORRECT'
    steps = (app_train[feat].max()-app_train[feat].min())/50
    bins = np.arange(app_train[feat].min(), app_train[feat].max(),steps)    
    app_train[feat+'_binned'] = pd.cut(app_train[feat], bins)
    feat_type = app_train.groupby([feat+'_binned','TARGET'])[['SK_ID_CURR']].count().reset_index()
    feat_type = feat_type.pivot(index=feat+'_binned', columns='TARGET', values='SK_ID_CURR').reset_index()
    feat_type = feat_type.rename(columns={0:crct_feat_name, 1:def_feat_name})
    feat_type['PREV_'+feat+'_DEFAULT_RATE'] = feat_type[def_feat_name]/(feat_type[def_feat_name]+feat_type[crct_feat_name])
    feat_type['PREV_'+feat+'_DEFAULT_RATE'].fillna(np.log(1/(1+np.log(feat_type[crct_feat_name]))), inplace=True)
    previous_application[feat+'_binned'] = pd.cut(previous_application[feat], bins)
    previous_application = pd.merge(previous_application,feat_type,on=[feat+'_binned'],how='left')
#     previous_application['PREV_'+feat+'_DEFAULT_RATE'] = previous_application[def_feat_name]/(previous_application[def_feat_name]+previous_application[crct_feat_name])
    previous_application = previous_application.drop([feat+'_binned',crct_feat_name,def_feat_name], axis=1)
#     return feat_type   
    return previous_application

In [19]:
previous_application.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL,PREV_AMT_CREDIT_DEFAULT_RATE,PREV_AMT_GOODS_PRICE_DEFAULT_RATE,AMT_INCOME_TOTAL,AMT_ANNUITY-AMT_INCOME_TOTAL,PREV_AMT_ANNUITY-AMT_INCOME_TOTAL_DEFAULT_RATE
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,15,Y,1,0.0,0.182832,0.867336,XAP,Approved,-73,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0,NaN,NaN,225000.0,0.007691,0.063328
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,11,Y,1,NaN,NaN,NaN,XNA,Approved,-164,XNA,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0,0.087789,0.082332,90000.0,0.279873,0.089411
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,11,Y,1,NaN,NaN,NaN,XNA,Approved,-301,Cash through the bank,XAP,"Spouse, partner",Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0,0.072766,0.062722,40500.0,0.371870,0.078861
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,7,Y,1,NaN,NaN,NaN,XNA,Approved,-512,Cash through the bank,XAP,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0,0.098694,0.101279,315000.0,0.149338,0.077340
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,9,Y,1,NaN,NaN,NaN,Repairs,Refused,-781,Cash through the bank,HC,NaN,Repeater,XNA,Cash,walk-in,Credit and cash offices,-1,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN,0.105128,0.099867,180000.0,0.177358,0.083541

In [13]:
previous_application = default_rate_num('AMT_CREDIT',previous_application)

In [15]:
previous_application = default_rate_num('AMT_GOODS_PRICE',previous_application)

In [17]:
previous_application = default_rate_num('AMT_ANNUITY-AMT_INCOME_TOTAL',previous_application)

In [23]:
app_train = pd.read_csv('application_train.csv')[['SK_ID_CURR', 'TARGET']]

In [24]:
previous_application = pd.merge(previous_application,app_train,how='left',on=['SK_ID_CURR'])

In [20]:
def default_rate_cat(feat, previous_application):
    def_feat_name = 'PREV_' + feat +'_' + 'DEFAULT'
    crct_feat_name = 'PREV_' + feat +'_' +'CORRECT'
    feat_type = previous_application.groupby([feat,'TARGET'])[['SK_ID_CURR']].count().reset_index()
    feat_type = feat_type.pivot(index=feat, columns='TARGET', values='SK_ID_CURR').reset_index()
    feat_type = feat_type.rename(columns={0:crct_feat_name, 1:def_feat_name})
    previous_application = pd.merge(previous_application,feat_type,on=[feat],how='left')
#     print(previous_application.head())
    previous_application['PREV_'+feat+'_DEFAULT_RATE'] = previous_application[def_feat_name]/(previous_application[def_feat_name]+previous_application[crct_feat_name])
    previous_application = previous_application.drop([crct_feat_name,def_feat_name], axis=1)
    return previous_application

In [25]:
previous_application = default_rate_cat('NAME_CONTRACT_STATUS',previous_application)

In [26]:
previous_application['PRODUCT_COMBINATION'] = previous_application['PRODUCT_COMBINATION'].fillna('MISSING')

In [27]:
previous_application = default_rate_cat('PRODUCT_COMBINATION',previous_application)

In [28]:
previous_application = default_rate_cat('CHANNEL_TYPE',previous_application)

In [29]:
previous_application = default_rate_cat('NAME_CLIENT_TYPE',previous_application)

In [30]:
previous_application = default_rate_cat('NAME_GOODS_CATEGORY',previous_application)

##### add anomaly flag and replace values with -1

In [31]:
previous_application['DAYS_FIRST_DRAWING_ANOM'] = np.where(previous_application['DAYS_FIRST_DRAWING']==365243,1,0)
previous_application['DAYS_FIRST_DUE_ANOM'] = np.where(previous_application['DAYS_FIRST_DUE']==365243,1,0)
previous_application['DAYS_LAST_DUE_1ST_VERSION_ANOM'] = np.where(previous_application['DAYS_LAST_DUE_1ST_VERSION']==365243,1,0)
previous_application['DAYS_LAST_DUE_ANOM'] = np.where(previous_application['DAYS_LAST_DUE']==365243,1,0)
previous_application['DAYS_TERMINATION_ANOM'] = np.where(previous_application['DAYS_TERMINATION']==365243,1,0)

In [32]:
previous_application['DAYS_FIRST_DRAWING'].replace(365243, np.nan, inplace= True)
previous_application['DAYS_FIRST_DUE'].replace(365243, np.nan, inplace= True)
previous_application['DAYS_LAST_DUE_1ST_VERSION'].replace(365243, np.nan, inplace= True)
previous_application['DAYS_LAST_DUE'].replace(365243,np.nan, inplace= True)
previous_application['DAYS_TERMINATION'].replace(365243, np.nan, inplace= True)

In [33]:
previous_application.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL,PREV_AMT_CREDIT_DEFAULT_RATE,PREV_AMT_GOODS_PRICE_DEFAULT_RATE,AMT_INCOME_TOTAL,AMT_ANNUITY-AMT_INCOME_TOTAL,PREV_AMT_ANNUITY-AMT_INCOME_TOTAL_DEFAULT_RATE,TARGET,PREV_NAME_CONTRACT_STATUS_DEFAULT_RATE,PREV_PRODUCT_COMBINATION_DEFAULT_RATE,PREV_CHANNEL_TYPE_DEFAULT_RATE,PREV_NAME_CLIENT_TYPE_DEFAULT_RATE,PREV_NAME_GOODS_CATEGORY_DEFAULT_RATE,DAYS_FIRST_DRAWING_ANOM,DAYS_FIRST_DUE_ANOM,DAYS_LAST_DUE_1ST_VERSION_ANOM,DAYS_LAST_DUE_ANOM,DAYS_TERMINATION_ANOM
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,15,Y,1,0.0,0.182832,0.867336,XAP,Approved,-73,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,12.0,middle,POS mobile with interest,NaN,-42.0,300.0,-42.0,-37.0,0.0,NaN,NaN,225000.0,0.007691,0.063328,0.0,0.075886,0.088106,0.082558,0.087145,0.086470,1,0,0,0,0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,11,Y,1,NaN,NaN,NaN,XNA,Approved,-164,XNA,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,36.0,low_action,Cash X-Sell: low,NaN,-134.0,916.0,NaN,NaN,1.0,0.087789,0.082332,90000.0,0.279873,0.089411,0.0,0.075886,0.065832,0.102698,0.087145,0.093856,1,0,0,1,1
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,11,Y,1,NaN,NaN,NaN,XNA,Approved,-301,Cash through the bank,XAP,"Spouse, partner",Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,high,Cash X-Sell: high,NaN,-271.0,59.0,NaN,NaN,1.0,0.072766,0.062722,40500.0,0.371870,0.078861,0.0,0.075886,0.114936,0.090110,0.087145,0.093856,1,0,0,1,1
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,7,Y,1,NaN,NaN,NaN,XNA,Approved,-512,Cash through the bank,XAP,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,middle,Cash X-Sell: middle,NaN,-482.0,-152.0,-182.0,-177.0,1.0,0.098694,0.101279,315000.0,0.149338,0.077340,0.0,0.075886,0.078360,0.090110,0.087145,0.093856,1,0,0,0,0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,9,Y,1,NaN,NaN,NaN,Repairs,Refused,-781,Cash through the bank,HC,NaN,Repeater,XNA,Cash,walk-in,Credit and cash offices,-1,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN,0.105128,0.099867,180000.0,0.177358,0.083541,0.0,0.119964,0.113639,0.090110,0.087145,0.093856,0,0,0,0,0

In [34]:
installment = pd.read_csv('installments_payments.csv')

In [35]:
installment[installment['SK_ID_PREV']==2523466]

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
493304,2523466,122040,1.0,3,-211.0,-219.0,15060.735,15060.735
618093,2523466,122040,1.0,9,-31.0,-30.0,15060.735,15060.735
733114,2523466,122040,1.0,8,-61.0,-65.0,15060.735,15060.735
1029497,2523466,122040,1.0,2,-241.0,-252.0,15060.735,15060.735
1339390,2523466,122040,1.0,4,-181.0,-190.0,15060.735,15060.735
1978225,2523466,122040,1.0,1,-271.0,-283.0,15060.735,15060.735
2815839,2523466,122040,1.0,7,-91.0,-102.0,15060.735,15060.735
2880494,2523466,122040,1.0,5,-151.0,-159.0,15060.735,15060.735
3263510,2523466,122040,1.0,6,-121.0,-133.0,15060.735,15060.735

In [36]:
days_first_due = installment.groupby(['SK_ID_PREV'])['DAYS_INSTALMENT'].min().reset_index()
days_last_due = installment.groupby(['SK_ID_PREV'])['DAYS_INSTALMENT'].max().reset_index()

In [ ]:
days_first_due[days_first_due['SK_ID_PREV']==2819243]

In [ ]:
days_last_due[days_last_due['SK_ID_PREV']==2819243]

In [37]:
amt_installment = installment.groupby(['SK_ID_PREV'])['AMT_INSTALMENT'].mean().reset_index()

###### Impute DAYS FIRST DUE and LAST DUE from installment file

In [38]:
previous_application['DAYS_FIRST_DUE'] = np.where(previous_application['NAME_CONTRACT_TYPE']=='Cash loans',
                                                  np.where(previous_application['DAYS_FIRST_DUE'].isnull(),
                                                          pd.merge(previous_application,days_first_due,on=['SK_ID_PREV'],how='left')['DAYS_INSTALMENT'],
                                                          previous_application['DAYS_FIRST_DUE']),previous_application['DAYS_FIRST_DUE'])

In [39]:
previous_application['DAYS_LAST_DUE'] = np.where(previous_application['NAME_CONTRACT_TYPE']=='Cash loans',
                                                  np.where(previous_application['DAYS_LAST_DUE'].isnull(),
                                                          pd.merge(previous_application,days_last_due,on=['SK_ID_PREV'],how='left')['DAYS_INSTALMENT'],
                                                          previous_application['DAYS_LAST_DUE']),previous_application['DAYS_FIRST_DUE'])

In [40]:
previous_application['AMT_ANNUITY'] = np.where(previous_application['NAME_CONTRACT_TYPE']=='Cash loans',
                                                  np.where(previous_application['AMT_ANNUITY'].isnull(),
                                                          pd.merge(previous_application,amt_installment,on=['SK_ID_PREV'],how='left')['AMT_INSTALMENT'],
                                                          previous_application['AMT_ANNUITY']),previous_application['AMT_ANNUITY'])

###### Add new derived fields

In [ ]:
# previous_application['AMT_APPLICATION - AMT_CREDIT'] = previous_application['AMT_APPLICATION'] - previous_application['AMT_CREDIT']

In [41]:
prev_days = previous_application[['SK_ID_CURR','DAYS_FIRST_DUE','DAYS_FIRST_DRAWING'
                                 ,'DAYS_LAST_DUE_1ST_VERSION','DAYS_LAST_DUE','DAYS_TERMINATION',
                                 'DAYS_TERMINATION_ANOM','DAYS_LAST_DUE_ANOM','DAYS_LAST_DUE_1ST_VERSION_ANOM'
                                 ,'DAYS_FIRST_DUE_ANOM','DAYS_FIRST_DRAWING_ANOM']]

In [42]:
prev_days = prev_days.groupby(['SK_ID_CURR']).max().reset_index()
prev_days.head()

,SK_ID_CURR,DAYS_FIRST_DUE,DAYS_FIRST_DRAWING,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,DAYS_TERMINATION_ANOM,DAYS_LAST_DUE_ANOM,DAYS_LAST_DUE_1ST_VERSION_ANOM,DAYS_FIRST_DUE_ANOM,DAYS_FIRST_DRAWING_ANOM
0,100001,-1709.0,NaN,-1499.0,-1709.0,-1612.0,0,0,0,0,1
1,100002,-565.0,NaN,125.0,-565.0,-17.0,0,0,0,0,1
2,100003,-716.0,NaN,-386.0,-536.0,-527.0,0,0,0,0,1
3,100004,-784.0,NaN,-694.0,-784.0,-714.0,0,0,0,0,1
4,100005,-706.0,NaN,-376.0,-706.0,-460.0,0,0,0,0,1

In [43]:
# #Dropping highly correlated fields
# previous_application = previous_application.drop(columns=['AMT_GOODS_PRICE'],axis =1)

In [45]:
previous_application.shape

(1670213, 52)

In [46]:
previous_application_sts = previous_application[['SK_ID_CURR','NAME_CONTRACT_TYPE'#'WEEKDAY_APPR_PROCESS_START'
                                                ,'NAME_CASH_LOAN_PURPOSE','NAME_CONTRACT_STATUS','NAME_PAYMENT_TYPE'
                                                ,'NAME_TYPE_SUITE','NAME_CLIENT_TYPE','NAME_GOODS_CATEGORY',
                                                 'NAME_PORTFOLIO'#,'CHANNEL_TYPE'
                                                ,'NAME_PRODUCT_TYPE','NAME_SELLER_INDUSTRY','NAME_YIELD_GROUP','PRODUCT_COMBINATION'
                                                ]]

In [47]:
previous_application_sts = encoding_cat_vars(previous_application_sts,le)

no of columns label encoded : 0
no of columns one hot encoded encoded : 12

In [48]:
previous_application_sts = previous_application_sts.groupby(['SK_ID_CURR']).sum().reset_index()

In [ ]:
# previous_application[previous_application['AMT_ANNUITY']==0].groupby(['NAME_CONTRACT_TYPE'])['SK_ID_PREV'].count()

In [ ]:
# previous_application.groupby(['NAME_CONTRACT_TYPE'])['RATE_DOWN_PAYMENT'].count()

In [ ]:
# previous_application.groupby(['NAME_CONTRACT_TYPE'])['RATE_DOWN_PAYMENT'].median()

In [50]:
previous_application.head(1)

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL,PREV_AMT_CREDIT_DEFAULT_RATE,PREV_AMT_GOODS_PRICE_DEFAULT_RATE,AMT_INCOME_TOTAL,AMT_ANNUITY-AMT_INCOME_TOTAL,PREV_AMT_ANNUITY-AMT_INCOME_TOTAL_DEFAULT_RATE,TARGET,PREV_NAME_CONTRACT_STATUS_DEFAULT_RATE,PREV_PRODUCT_COMBINATION_DEFAULT_RATE,PREV_CHANNEL_TYPE_DEFAULT_RATE,PREV_NAME_CLIENT_TYPE_DEFAULT_RATE,PREV_NAME_GOODS_CATEGORY_DEFAULT_RATE,DAYS_FIRST_DRAWING_ANOM,DAYS_FIRST_DUE_ANOM,DAYS_LAST_DUE_1ST_VERSION_ANOM,DAYS_LAST_DUE_ANOM,DAYS_TERMINATION_ANOM
0,2030495,271877,Consumer loans,1730.43,17145.0,17145.0,0.0,17145.0,15,Y,1,0.0,0.182832,0.867336,XAP,Approved,-73,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,12.0,middle,POS mobile with interest,NaN,-42.0,300.0,-42.0,-37.0,0.0,NaN,NaN,225000.0,0.007691,0.063328,0.0,0.075886,0.088106,0.082558,0.087145,0.08647,1,0,0,0,0

In [49]:
previous_application_cnt = previous_application[['SK_ID_CURR','SK_ID_PREV']]
previous_application_cnt =  previous_application_cnt.groupby(['SK_ID_CURR']).count().reset_index()
previous_application_cnt = previous_application_cnt.rename(columns={'SK_ID_PREV':'CNT_PREV_APP'})
previous_application_cnt.head()

   SK_ID_CURR  CNT_PREV_APP
0      100001             1
1      100002             1
2      100003             3
3      100004             1
4      100005             2

In [52]:
previous_application_cal = previous_application[['SK_ID_CURR','AMT_ANNUITY','AMT_APPLICATION'
                                                ,'AMT_CREDIT','AMT_DOWN_PAYMENT','SELLERPLACE_AREA','AMT_GOODS_PRICE',
                                                 'RATE_DOWN_PAYMENT','CNT_PAYMENT','NFLAG_INSURED_ON_APPROVAL',
                                                'PREV_NAME_CONTRACT_STATUS_DEFAULT_RATE','PREV_PRODUCT_COMBINATION_DEFAULT_RATE',
                                                'PREV_NAME_CLIENT_TYPE_DEFAULT_RATE','PREV_NAME_GOODS_CATEGORY_DEFAULT_RATE','PREV_CHANNEL_TYPE_DEFAULT_RATE',
                                                'PREV_AMT_GOODS_PRICE_DEFAULT_RATE','PREV_AMT_CREDIT_DEFAULT_RATE','AMT_ANNUITY-AMT_INCOME_TOTAL',
                                                'PREV_AMT_ANNUITY-AMT_INCOME_TOTAL_DEFAULT_RATE']]

In [53]:
previous_application_cal.head()

,SK_ID_CURR,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,SELLERPLACE_AREA,AMT_GOODS_PRICE,RATE_DOWN_PAYMENT,CNT_PAYMENT,NFLAG_INSURED_ON_APPROVAL,PREV_NAME_CONTRACT_STATUS_DEFAULT_RATE,PREV_PRODUCT_COMBINATION_DEFAULT_RATE,PREV_NAME_CLIENT_TYPE_DEFAULT_RATE,PREV_NAME_GOODS_CATEGORY_DEFAULT_RATE,PREV_CHANNEL_TYPE_DEFAULT_RATE,PREV_AMT_GOODS_PRICE_DEFAULT_RATE,PREV_AMT_CREDIT_DEFAULT_RATE,AMT_ANNUITY-AMT_INCOME_TOTAL,PREV_AMT_ANNUITY-AMT_INCOME_TOTAL_DEFAULT_RATE
0,271877,1730.430,17145.0,17145.0,0.0,35,17145.0,0.0,12.0,0.0,0.075886,0.088106,0.087145,0.086470,0.082558,NaN,NaN,0.007691,0.063328
1,108129,25188.615,607500.0,679671.0,NaN,-1,607500.0,NaN,36.0,1.0,0.075886,0.065832,0.087145,0.093856,0.102698,0.082332,0.087789,0.279873,0.089411
2,122040,15060.735,112500.0,136444.5,NaN,-1,112500.0,NaN,12.0,1.0,0.075886,0.114936,0.087145,0.093856,0.090110,0.062722,0.072766,0.371870,0.078861
3,176158,47041.335,450000.0,470790.0,NaN,-1,450000.0,NaN,12.0,1.0,0.075886,0.078360,0.087145,0.093856,0.090110,0.101279,0.098694,0.149338,0.077340
4,202054,31924.395,337500.0,404055.0,NaN,-1,337500.0,NaN,24.0,NaN,0.119964,0.113639,0.087145,0.093856,0.090110,0.099867,0.105128,0.177358,0.083541

In [54]:
previous_application_mean = previous_application_cal.add_prefix('MEAN_').rename(columns={'MEAN_SK_ID_CURR':'SK_ID_CURR'})
previous_application_max = previous_application_cal.add_prefix('MAX_').rename(columns={'MAX_SK_ID_CURR':'SK_ID_CURR'})
previous_application_min = previous_application_cal.add_prefix('MIN_').rename(columns={'MIN_SK_ID_CURR':'SK_ID_CURR'})
previous_application_sum = previous_application_cal.add_prefix('SUM_').rename(columns={'SUM_SK_ID_CURR':'SK_ID_CURR'})
previous_application_var = previous_application_cal.add_prefix('VAR_').rename(columns={'VAR_SK_ID_CURR':'SK_ID_CURR'})

In [55]:
previous_application_mean = previous_application_mean.groupby(['SK_ID_CURR']).mean().reset_index()
previous_application_max = previous_application_max.groupby(['SK_ID_CURR']).max().reset_index()
previous_application_min = previous_application_min.groupby(['SK_ID_CURR']).min().reset_index()
previous_application_sum = previous_application_sum.groupby(['SK_ID_CURR']).sum().reset_index()
previous_application_var = previous_application_var.groupby(['SK_ID_CURR']).var().reset_index()

In [ ]:
previous_application_max.head()

In [56]:
previous_application = pd.merge(previous_application_max,previous_application_cnt,how='inner',on=['SK_ID_CURR'])
previous_application = pd.merge(previous_application_mean,previous_application,how='inner',on=['SK_ID_CURR'])
previous_application = pd.merge(previous_application_min,previous_application,how='inner',on=['SK_ID_CURR'])
previous_application = pd.merge(previous_application_sum,previous_application,how='inner',on=['SK_ID_CURR'])
previous_application = pd.merge(previous_application_var,previous_application,how='inner',on=['SK_ID_CURR'])

In [57]:
previous_application.shape

(338857, 92)

In [58]:
previous_application = pd.merge(previous_application_sts,previous_application,how='inner',on=['SK_ID_CURR'])

In [ ]:
# #AMT_ANNUITY is null for 1/3rd of cash loans
# previous_application['AMT_ANNUITY']=np.where((previous_application['AMT_ANNUITY'].isnull),
#                                              np.where(previous_application['NAME_CONTRACT_TYPE']=='Revolving loans',9000,
#                                              np.where(previous_application['NAME_CONTRACT_TYPE']=='Cash loans'
#                                              ,21739.23,7967.97)), previous_application['AMT_ANNUITY'])

In [ ]:
# #Imputing CNT_PAYMENT : 0 when revolving loans ; mode when Cash or consumer loans -12
# #previous_application[previous_application['NAME_CONTRACT_TYPE']=='Cash loans']['CNT_PAYMENT'].mode()
# #previous_application[previous_application['NAME_CONTRACT_TYPE']=='Revolving loans']['CNT_PAYMENT'].mode()
# previous_application['CNT_PAYMENT']=np.where((previous_application['CNT_PAYMENT'].isnull),
#                                              np.where(previous_application['NAME_CONTRACT_TYPE']=='Revolving loans',0,12),
#                                              previous_application['CNT_PAYMENT'])

In [ ]:
# #IMpute AMT_DOWN_PAYMENT ¬ 10 % of AMT_APPLICATION WHEN Consumer loans else 0
# previous_application['AMT_DOWN_PAYMENT'] = np.where(previous_application['AMT_DOWN_PAYMENT'].isnull(),
#                                                    np.where(previous_application['NAME_CONTRACT_TYPE']=='Consumer Loans',2295,0)
#                                                     ,previous_application['AMT_DOWN_PAYMENT'])

In [59]:
#Remove features with many missing values
#Check for missing values
missing_values = missing_values_table(previous_application)
missing_values['column_name'] = missing_values.index
missing_values = missing_values.reset_index(drop = True)
missing_values

Your selected dataframe has 210 columns.
There are 48 columns that have missing values.

,Missing Values,% of Total Values,column_name
0,146201,43.1,VAR_AMT_DOWN_PAYMENT
1,146201,43.1,VAR_RATE_DOWN_PAYMENT
2,112078,33.1,VAR_PREV_AMT_ANNUITY-AMT_INCOME_TOTAL_DEFAULT_...
3,111964,33.0,VAR_PREV_AMT_CREDIT_DEFAULT_RATE
4,111935,33.0,VAR_AMT_ANNUITY-AMT_INCOME_TOTAL
5,104128,30.7,VAR_PREV_AMT_GOODS_PRICE_DEFAULT_RATE
6,93408,27.6,VAR_NFLAG_INSURED_ON_APPROVAL
7,74570,22.0,VAR_AMT_GOODS_PRICE
8,73917,21.8,VAR_AMT_ANNUITY
9,73917,21.8,VAR_CNT_PAYMENT
10,60458,17.8,VAR_PREV_NAME_GOODS_CATEGORY_DEFAULT_RATE
11,60458,17.8,VAR_PREV_CHANNEL_TYPE_DEFAULT_RATE
12,60458,17.8,VAR_PREV_PRODUCT_COMBINATION_DEFAULT_RATE
13,60458,17.8,VAR_PREV_NAME_CLIENT_TYPE_DEFAULT_RATE
14,60458,17.8,VAR_AMT_APPLICATION
15,60458,17.8,VAR_PREV_NAME_CONTRACT_STATUS_DEFAULT_RATE
16,60458,17.8,VAR_SELLERPLACE_AREA
17,60458,17.8,VAR_AMT_CREDIT
18,48221,14.2,MEAN_PREV_AMT_ANNUITY-AMT_INCOME_TOTAL_DEFAULT...
19,48221,14.2,MIN_PREV_AMT_ANNUITY-AMT_INCOME_TOTAL_DEFAULT_...
20,48221,14.2,MAX_PREV_AMT_ANNUITY-AMT_INCOME_TOTAL_DEFAULT_...
21,48217,14.2,MAX_AMT_ANNUITY-AMT_INCOME_TOTAL
22,48217,14.2,MIN_AMT_ANNUITY-AMT_INCOME_TOTAL
23,48217,14.2,MEAN_AMT_ANNUITY-AMT_INCOME_TOTAL
24,23969,7.1,MEAN_PREV_AMT_CREDIT_DEFAULT_RATE
25,23969,7.1,MAX_PREV_AMT_CREDIT_DEFAULT_RATE
26,23969,7.1,MIN_PREV_AMT_CREDIT_DEFAULT_RATE
27,20104,5.9,MIN_RATE_DOWN_PAYMENT
28,20104,5.9,MIN_AMT_DOWN_PAYMENT
29,20104,5.9,MEAN_AMT_DOWN_PAYMENT
30,20104,5.9,MAX_RATE_DOWN_PAYMENT
31,20104,5.9,MEAN_RATE_DOWN_PAYMENT
32,20104,5.9,MAX_AMT_DOWN_PAYMENT
33,19175,5.7,MAX_PREV_AMT_GOODS_PRICE_DEFAULT_RATE
34,19175,5.7,MEAN_PREV_AMT_GOODS_PRICE_DEFAULT_RATE
35,19175,5.7,MIN_PREV_AMT_GOODS_PRICE_DEFAULT_RATE
36,1517,0.4,MEAN_NFLAG_INSURED_ON_APPROVAL
37,1517,0.4,MAX_NFLAG_INSURED_ON_APPROVAL
38,1517,0.4,MIN_NFLAG_INSURED_ON_APPROVAL
39,1064,0.3,MAX_AMT_GOODS_PRICE
40,1064,0.3,MEAN_AMT_GOODS_PRICE
41,1064,0.3,MIN_AMT_GOODS_PRICE
42,480,0.1,MIN_AMT_ANNUITY
43,480,0.1,MAX_AMT_ANNUITY
44,480,0.1,MEAN_AMT_ANNUITY
45,478,0.1,MIN_CNT_PAYMENT
46,478,0.1,MEAN_CNT_PAYMENT
47,478,0.1,MAX_CNT_PAYMENT

In [60]:
del_cols = missing_values[missing_values['% of Total Values']>14]['column_name'].values
del_cols

array(['VAR_AMT_DOWN_PAYMENT', 'VAR_RATE_DOWN_PAYMENT',
       'VAR_PREV_AMT_ANNUITY-AMT_INCOME_TOTAL_DEFAULT_RATE',
       'VAR_PREV_AMT_CREDIT_DEFAULT_RATE',
       'VAR_AMT_ANNUITY-AMT_INCOME_TOTAL',
       'VAR_PREV_AMT_GOODS_PRICE_DEFAULT_RATE',
       'VAR_NFLAG_INSURED_ON_APPROVAL', 'VAR_AMT_GOODS_PRICE',
       'VAR_AMT_ANNUITY', 'VAR_CNT_PAYMENT',
       'VAR_PREV_NAME_GOODS_CATEGORY_DEFAULT_RATE',
       'VAR_PREV_CHANNEL_TYPE_DEFAULT_RATE',
       'VAR_PREV_PRODUCT_COMBINATION_DEFAULT_RATE',
       'VAR_PREV_NAME_CLIENT_TYPE_DEFAULT_RATE', 'VAR_AMT_APPLICATION',
       'VAR_PREV_NAME_CONTRACT_STATUS_DEFAULT_RATE',
       'VAR_SELLERPLACE_AREA', 'VAR_AMT_CREDIT',
       'MEAN_PREV_AMT_ANNUITY-AMT_INCOME_TOTAL_DEFAULT_RATE',
       'MIN_PREV_AMT_ANNUITY-AMT_INCOME_TOTAL_DEFAULT_RATE',
       'MAX_PREV_AMT_ANNUITY-AMT_INCOME_TOTAL_DEFAULT_RATE',
       'MAX_AMT_ANNUITY-AMT_INCOME_TOTAL',
       'MIN_AMT_ANNUITY-AMT_INCOME_TOTAL',
       'MEAN_AMT_ANNUITY-AMT_INCOME_TOTAL'], dtype=object)

In [61]:
previous_application = previous_application.drop(del_cols,axis = 1) #columns having more than 40 % missing values removed from dataset

In [ ]:
# previous_application[previous_application['MEAN_AMT_DOWN_PAYMENT']<0].head()

In [ ]:
# drop_recs = list(missing_values[missing_values['% of Total Values']<1]['column_name'].values)

In [ ]:
# previous_application = previous_application.dropna(subset=drop_recs)

In [62]:
previous_application = pd.merge(previous_application,prev_days,how='inner',on=['SK_ID_CURR'])

In [63]:
previous_application.shape

(338857, 196)

##### Add is_NAN flags

In [64]:
previous_application['RATE_DOWN_PAY_NAN'] = np.where(previous_application['MEAN_RATE_DOWN_PAYMENT'].isnull(),1,0)
previous_application['AMT_DOWN_PAY_NAN'] = np.where(previous_application['MEAN_AMT_DOWN_PAYMENT'].isnull(),1,0)
previous_application['NFLAG_INSURED_ON_APPROVAL_NAN'] = np.where(previous_application['MEAN_NFLAG_INSURED_ON_APPROVAL'].isnull(),1,0)
previous_application['AMT_GOODS_PRICE_NAN'] = np.where(previous_application['MEAN_AMT_ANNUITY'].isnull(),1,0)
previous_application['AMT_ANNUITY_NAN'] = np.where(previous_application['MIN_AMT_ANNUITY'].isnull(),1,0)
previous_application['CNT_PAYMENT_NAN'] = np.where(previous_application['MAX_CNT_PAYMENT'].isnull(),1,0)

In [65]:
previous_application = previous_application.fillna(-1)

In [ ]:
# #both below fields should not affect decision
# previous_application = previous_application.drop(columns=['WEEKDAY_APPR_PROCESS_START','HOUR_APPR_PROCESS_START'],axis=1)
# previous_application = previous_application.rename(columns={'NAME_CONTRACT_STATUS':'PREV_APP_STATUS','NAME_CONTRACT_TYPE':'PREV_CONTRACT_TYPE'})

In [66]:
#Encoding categorical features
previous_application = encoding_cat_vars(previous_application,le)

no of columns label encoded : 0
no of columns one hot encoded encoded : 0

In [ ]:
#Aggregaring per client id
#previous_application = previous_application.drop(columns=['SK_ID_PREV'],axis=1)
#previous_application = previous_application.groupby(['SK_ID_CURR']).sum().reset_index()

In [67]:
previous_application.to_csv('tmp_previous_application.csv',index=False)